<div class="container-md">
    <nav class="navbar navbar-expand-lg  justify-content-end">


        <ul class="navbar-nav">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/logo.png" class="logo" alt="">
            </a>

            <li class="nav-item">
                <a class="nav-link" href="#Explore Spaces">Explore Spaces&nbsp;&nbsp;<fa-icon [icon]="FaAngleDown"></fa-icon></a> &nbsp;
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Flexible Memberships">Flexible Memberships&nbsp;&nbsp;<fa-icon [icon]="FaAngleDown"></fa-icon></a> &nbsp;
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Resources">Resources&nbsp;&nbsp;<fa-icon [icon]="FaAngleDown"></fa-icon> </a> &nbsp;
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#ListYourSpace">List Your Space</a> &nbsp;
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#Offers">Offers</a> &nbsp;
            </li>
            <li class="nav-item">
                <a class="nav-link " style="margin-right: -12rem;" href="#">Sign up</a> &nbsp;
            </li>
            <li class="nav-link">
                <button type="button" class="btn btn-success" style="
                left: 82.5rem;">login</button>
            </li>
        </ul>

    </nav>
</div>




<!--<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="header-logo navbar-brand"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="header-links ml-auto">
                <div class="dropdown header-links-items sw-font">
                    <div class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Explore Spaces
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="dropdown header-links-items sw-font">
                    <div class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Flexible Memberships
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="dropdown header-links-items sw-font">
                    <div class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resources
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>

                <a class="header-links-items sw-font" href="#">List Your Space</a>
                <a class="header-links-items sw-font" href="#">Offers</a>
                <a class="header-links-items sw-font" href="#">Sign Up</a>
                <a class="header-login btn text-center sw-font" href="#">Log In</a>

            </div>

        </div>
    </nav>
</div>-->