<!-- Old codes-->

<section>
    <!--
        <a class="boxmini1">
            <div class="containt primarywhite">
                <p> Fully operated environment to save all your operational costs.</p>

                <p> Advanced safety and sanetisation practises to ensure a safe workplace.</p>

                <p> Extensive amenities to ensure a productive output.</p>

            </div>
            <p class="heading primarywhite">No operational hassles</p>
            <a class="iconmain">
                <img src="assets/img/iconleft.png" />
            </a>
            <div class="headerleft">
                <img src="assets/img/Vector.png" alt />
                <img src="assets/img/Vector.png" alt />
                <img src="assets/img/Vector.png" alt />
            </div>
        </a>
    </section>
    <section>
        <div class="boxmini2">
            <div class="containtright primarywhite">
                <br />
                <p> Fixed/multilocational workspace access</p>

                <p> Fully-customizable offerings (seats, employees, and many more)</p>

                <p> Hassle-free access control</p>

                <p> Offerings that suits your budget, or specific brands of your own choice</p>
            </div>
            <div class="heading1 primarywhite">
                Flexible, remote working
                <!-- <img src="assets/img/Vector.png" class="v1" alt="..."> -->

    <div class="iconright">
        <img src="assets/img/iconleft.png" />
    </div>
    <div class="header">
        <img src="assets/img/Vector.png" alt />
        <img src="assets/img/Vector.png" alt />
        <img src="assets/img/Vector.png" alt />
        <img src="assets/img/Vector.png" alt />
    </div>

</section>
<section>
    <a class="boxmini3">
        <div class="containtleft primarywhite">
            <p> Hassle-free contraction & expansion of your workspace</p>

            <p> No Lock-in period</p>

            <p> Minimum security deposits</p>
        </div>
        <div class="heading2 primarywhite">Zero Liability</div>
        <div class="iconleft">
            <img src="assets/img/iconleft.png" />
        </div>
        <div class="headerleft">
            <img src="assets/img/Vector.png" />
            <img src="assets/img/Vector.png" />
            <img src="assets/img/Vector.png" />
        </div>
    </a>
</section>
<section>
    <!-- <div class="tab">
            <button class="tablinks" style="left: 11%;
            top: 36%;
            width: 10%;
            height: 5%;" click="openCity(event, 'Explore') ">Explore Spaces</button>
            <button class="tablinks" style="top: 36%;
            width: 12%;
            left: 21%;
            height: 5%;" click="openCity(event, 'Flexible')">Flexible Memberships</button>
        </div> -->

    <div id="Explore" class="tabcontent">
        <div class="Exploretheperfectworkplace">
            Explore the perfect workplace personalised to your needs across our
            <b>500+</b> locations
        </div>

        <div class="needcustomizable">
            Need customizable plans?Check our &nbsp;
            <a class="primarytext" href="#"> flexible memberships </a>
        </div>
        <div class="loc" href="#use my curunnt location">
            <img src="assets/img/locate-me.png" />
        </div>
        <div class="Rect">
            <img src="assets/img/Rectangle.png" />
        </div>
        <div class="dl">Delhi</div>
        <img src="assets/img/2.png" class="dimg" />

        <div class="Rect1">
            <img src="assets/img/Rectangle.png" />
        </div>
        <div class="pn">Pune</div>
        <img src="assets/img/7.png" class="pnimg" />

        <div class="Rect2">
            <img src="assets/img/Rectangle.png" />
        </div>
        <div class="kl">Kolkata</div>
        <img src="assets/img/5.png" class="klimg" />

        <div class="Rect3">
            <img src="assets/img/Rectangle.png" />
        </div>
        <div href class="hyd"> Hydrabad </div>
        <img src="assets/img/4.png" class="hydimg" />
        <div class="vector2">
            <img src="assets/img/Vector2.png" />
        </div>
        <div class="ellipse">
            <img src="assests/img/Ellipse.png" />
        </div>
        <div>
            <input placeholder="Where do you want to work at?" id="locationPlaceholder" />
            <button class="explore">Explore</button>

            <img src="assets/img/search.png" class="search">

        </div>

        <div class="cityinformation">Popular Cities to work at:</div>
    </div>


    <div id="Flexible" class="tabcontent">
        <!-- data -->
    </div>
</section>


<!---  <div>
            <mat-button-toggle-group #colorToggle="matButtonToggleGroup" value="primary" aria-label="Change color">
                <mat-button-toggle value="primary"> Explore Spaces </mat-button-toggle>
                <mat-button-toggle value="accent"> Flexible Memberships </mat-button-toggle>
            </mat-button-toggle-group>
        </div>-->

<!--- <div class="Exploretheperfectworkplace">
            Explore the perfect workplace personalised to your needs across our
            <b>500+</b> locations
        </div>

        <div class="needcustomizable">
            Need customizable plans?Check our &nbsp;
            <a class="text21" href="#"> flexible memberships </a>
        </div>
        <a class="loc" href="#use my curunnt location">
            <img src="assets/img/locate-me.png" />
        </a>
        <a class="Rect">
            <img src="assets/img/Rectangle.png" />
        </a>
        <a class="dl">Delhi</a>
        <img src="assets/img/2.png" class="dimg" />

        <a class="Rect1">
            <img src="assets/img/Rectangle.png" />
        </a>
        <a class="pn">Pune</a>
        <img src="assets/img/7.png" class="pnimg" />

        <a class="Rect2">
            <img src="assets/img/Rectangle.png" />
        </a>
        <a class="kl">Kolkata</a>
        <img src="assets/img/5.png" class="klimg" />

        <a class="Rect3">
            <img src="assets/img/Rectangle.png" />
        </a>
        <a href class="hyd"> Hydrabad </a>
        <img src="assets/img/4.png" class="hydimg" />
        <a class="vector2">
            <img src="assets/img/Vector2.png" alt />
        </a>
        <a class="ellipse">
            <img src="assests/img/Ellipse.png" alt />
        </a>
        <div>
            <input placeholder="Where do you want to work at?" id="locationPlaceholder" />
            <button class="explore">Explore</button>

            <img src="assets/img/search.png" class="search">

        </div>

        <a class="cityinformation">Popular Cities to work at:</a>
    </div>-->
<div>
    <div class="a500">
        <b>500+</b>
    </div>
</div>
<div class="locations">Locations</div>
<div href="to choose from" class="choosefrom"> to choose from </div>

<div class="a4000">4000+</div>
<h3 class="four">Customers</h3>
<a href="served" class="served"> served </a>

<div class="a200">200+</div>
<b class="seven">Enterprises</b>
<a href="served" class="eight"> served </a>

<p class="h5">Why opt for a co-working space?</p>
<p class="h6">
    It’s not just co-working. it’s way more than a desk. Getting a workspace should be hassle-free, and that’s what we aim to provide you!
</p>
<div>
    <img src="assets/img/damiimg.png" class="slideimg" alt="..." />
    <p class="h7">
        <b>Zero set-up and maintenance costs</b>
    </p>
    <p class="h8">
        With a plug-and-play setup, we provide everything you would need from day one. Being a managed workspace, you won’t have to worry about the nitty-gritty of facility and/or maintenance management.
    </p>

    <p class="h9">
        <b>Amenities you'll love</b>
    </p>
    <p class="h10">
        All our workspaces offer more than just a workspace table. Some have recreational areas, coffee lounges and even quiet rooms.
    </p>
    <p class="h11">
        <b>Sanitized and hygiene-maintained spaces</b>
    </p>
    <p class="h12">
        All our partner spaces follow a regimen of cleaning and sanitization, ensuring that every space and touchpoint is clean and safe.
    </p>
</div>

<div>
    <img src="assets/img/damiimg.png" class="slideimg3" />
    <p class="h13">Sanitized and hygiene-maintained spaces</p>
    <img src="assets/img/damiimg.png" class="slideimg4" />
    <img src="assets/img/damiimg.png" class="slideimg5" />
</div>
</section>-->